@page 
@model FUExchangeClient.Pages.Guest.ProductDetailModel

<h1 class="my-4">Product Details</h1>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" id="successMessage">
        @TempData["SuccessMessage"]
    </div>
}
<div class="card mb-4">
    <img class="card-img-top img-fluid" src="@Model.Product.Image" alt="Product Image" style="width:250px;height:250px">
    <div class="card-body">
        <h2 class="card-title">@Model.Product.Description</h2>
        <p class="card-text"><strong>Price:</strong> @Model.Product.Price</p>
        <p class="card-text"><strong>Category:</strong> @Model.Product.Category?.CategoryName</p>
        <p class="card-text"><strong>Posted:</strong> @Model.Product.DatePosted?.ToShortDateString()</p>
        <form method="post" asp-page-handler="AddToCart">
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <div class="input-group">
                    <input type="text" class="form-control text-center" name="quantity" id="quantity" value="@Model.Product.Quantity" readonly>
                </div>
            </div>
            <input type="hidden" name="productId" value="@Model.Product.ProductId" />
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
        <!-- Quantity controls -->
        
    </div>
</div>

<h3 class="my-4">Seller Information</h3>
<div class="card">
    <div class="card-body">
        <p class="card-text"><strong>Name:</strong> @Model.Seller.FirstName @Model.Seller.LastName</p>
        <p class="card-text"><strong>Address:</strong> @Model.Seller.Address</p>
    </div>
</div>
@section Scripts {
        <script>
            document.getElementById('decreaseBtn').addEventListener('click', function() {
                var quantityInput = document.getElementById('quantity');
                var currentQuantity = parseInt(quantityInput.value);
                if (currentQuantity > 1) {
                    quantityInput.value = currentQuantity - 1;
                }
            });

            document.getElementById('increaseBtn').addEventListener('click', function() {
                var quantityInput = document.getElementById('quantity');
                var currentQuantity = parseInt(quantityInput.value);
                quantityInput.value = currentQuantity + 1;
            });
        window.onload = function () {
            var successMessage = document.getElementById('successMessage');
            if (successMessage) {
                setTimeout(function () {
                    successMessage.style.display = 'none';
                }, 2000); // 1000 milliseconds = 1 second
            }
        };

            
        </script>
}