@page
@model FUExchangeClient.Pages.Guest.ProductListModel
@{
}

    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="?categoryId=" class="list-group-item @(Model.SelectedCategoryId == null ? "active" : "")">All Categories</a>
                @foreach (var category in Model.Categories)
                {
                    <a href="?categoryId=@category.CategoryId" class="list-group-item @(Model.SelectedCategoryId == category.CategoryId ? "active" : "")">@category.CategoryName</a>
                }
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="@product.Image" class="card-img-top" alt="Product Image">
                            <div class="card-body">
                            <span class="card-text">Price: @product.Price</span>
                            <span class="card-text float-right">Posted: @product.DatePosted.Value.ToShortDateString()</span>
                            <a href="/Guest/ProductDetail?productId=@product.ProductId" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


